*.npy,*.mat filter=lfs diff=lfs merge=lfs -text
*.mat filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
classes_hermespy.png filter=lfs diff=lfs merge=lfs -text
packages_HermesPy.png filter=lfs diff=lfs merge=lfs -text
classes.png filter=lfs diff=lfs merge=lfs -text
docssource/images/getting_started_signal_plot.png filter=lfs diff=lfs merge=lfs -text
docssource/images/getting_started_signal_plot_no_preamble.png filter=lfs diff=lfs merge=lfs -text
docssource/images/getting_started_constellation_high_noise.png filter=lfs diff=lfs merge=lfs -text
docssource/images/getting_started_constellation_low_noise.png filter=lfs diff=lfs merge=lfs -text
docssource/images/getting_started_errors_high_noise.png filter=lfs diff=lfs merge=lfs -text
docssource/images/getting_started_errors_low_noise.png filter=lfs diff=lfs merge=lfs -text
_examples/resources/leena.png filter=lfs diff=lfs merge=lfs -text
_examples/resources/leena.raw filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.ipynb filter=lfs diff=lfs merge=lfs -text
