setuptools>=75.6.0
cmake
wheel
pybind11>=2.13.6
scikit-build-core>=0.10.7
numpy<=1.26.4
matplotlib>=3.10.0
h5py>=3.8.0
scipy>=1.14.1
ray>=2.40.0
sparse>=0.15.5
numba>=0.60.0
rich>=13.9.4
pytest>=7.4.2
coverage>=7.5.1
mypy>=1.13.0
nbformat
nbconvert
oct2py>=5.6.0
sphinx>=8.0.0, <8.2.0
furo>=2024.8.6
sphinx-autodoc-typehints>=3.0.1
sphinxcontrib-apidoc>=0.5.0
sphinxcontrib-mermaid>=1.0.0
sphinxcontrib-bibtex>=2.6.3
sphinx-tabs>=3.4.7
sphinx-copybutton>=0.5.2
sphinx-carousel>=1.2.0
nbsphinx>=0.9.7
ipywidgets==8.0.5
usrp-uhd-client==1.7.3
sounddevice>=0.4.6
black>=24.10.0
flake8>=7.1.1
mitsuba<=3.5.2
sionna==0.19.1
scapy>=2.5.0
pyzmq>=25.1.1
memray>=1.11.0