p {
    text-align: justify;
}

a.brackets:before, 
span.brackets > a:before{ 
    content: "["; 
} 
 
a.brackets:after, 
span.brackets > a:after { 
    content: "]"; 
}

div.mermaid {
    margin-bottom: 42px;
}

.sidebar-logo {
    max-width: 60%;
}

.scbs-carousel {
    width: 80% !important;
    margin: 0 auto !important;
}

.docutils.container {
    margin-top: 42px !important;
}